In [ ]:
a=100

In [1]:
## Declaring And Assigning Variables

age = 32
height = 6.1
name = "Ethan"
is_student = True

## Printing Variables
print(age)
print(height)
print(name)
print(is_student)

32
6.1
Ethan
True

In [2]:
## Naming Convention

# 1. Variable names must start with a letter or an underscore
# 2. Variable names cannot start with a number
# 3. Variable names can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# 4. Variable names are case-sensitive (age, Age and AGE are three different variables)
# 5. Variable names should be descriptive and meaningful
# 6. Variable names should be in lowercase with words separated by underscores
# 7. Avoid using special characters like !, @, #, $, %, etc.
# 8. Avoid using Python keywords and built-in functions as variable names
# 9. Use a single underscore before a variable name to indicate it is private
# 10. Use two underscores before a variable name to make it strongly private
# 11. Use two underscores before and after a variable name
# to make it language-defined special name

In [4]:
## Type
type(height)

float

In [5]:
age=25
#

In [6]:
#type conversion
age = str(age)

In [7]:
print(age)

25

In [8]:
height = 5.11
type(height)

float

In [9]:
int(height)

5

In [10]:
height

5.11

In [11]:
height // 2

2.0

In [12]:
## dynamic typing

var = 10 ## int
print(var,type(var))

var = 10.5 ## float
print(var,type(var))

10 <class 'int'>
10.5 <class 'float'>

In [13]:
age=input("enter your age")
print(age)

28

In [14]:
## simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
print("Sum: ", sum)
differece = num1 - num2
print("Difference: ", differece)
product = num1 * num2
print("Product: ", product)
quotient = num1 / num2
print("Quotient: ", quotient)

Sum:  38.0
Difference:  -12.0
Product:  325.0
Quotient:  0.52